<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <!-- LOGIN FORM -->
    <form action="/register" method="post">
        <div class="CreateUser">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="CreateUser">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <form class="CreateUser">
    <h1>Create account</h1>
    <input type="text" class="username" placeholder="username">
    <input type="password" class="password" placeholder="password">
    <input type="submit" value="Create">
  </form>
  <script src="./public/app.js"></script>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>
  <script src="./public/app.js"></script>
</body>
</html>